*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primary:#FB2E86;
    --secondary:#1A0B5B;
    --mainFont:"Lato", sans-serif;
}
body{
    font-family: var(--mainFont);
}
.btn-primary{
    border: none;
    outline:border;
    color: white;
    background-color:var(--primary);
    padding: 16px 40px;
    border-radius: 2px;
}
.btn-secondary{
    border: none;
    outline:border;
    color: white;
    background-color:#08D15F;
    padding: 16px 40px;
    border-radius: 2px;
}
.row{
     display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: calc(100% - 320px);
    margin: auto;
}
 .bar{
display: none;
}

@media screen and (max-width:1200px){
    .list,.header .search{
        display: none;
    }
    .bar{
        display: block;
    }
}
.d-flex{
    display: flex;
}
.flex-dir{
    flex-direction: column;
}
.gap-2{
    gap: 10px;
}
.gap-45{
    gap: 45px;
}
.gap-23{
    gap: 23px;
}
@media screen and (max-width:1400px){
    .container{
        width: calc(100% - 200px);
    }
}
@media screen and (max-width:990px){
    .container{
        width: calc(100% - 100px);
    }
}
@media screen and (max-width:570px){
    .container{
        width: calc(100% - 40px);
    }
}
@media screen and (max-width:990px){
.footer .left, .footer .right{
    width: 100%
}
}
.text-center{
    text-align: center;
}
.text-primary {
    color: var(--primary);
}
.text-secondary{
    color: var(--secondary);
}
.color{
    width: 14px;
    height: 4px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.color-1{
    background-color: #05E6B7;
}
.color-2{
   background-color:#FB2E86 ; 
}
.color-3{
   background-color:#00009D ; 
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}