.header {

    padding: 57px 0;
}

.header ul {
    display: flex;
    gap: 35px;
}

.list a {
    color: #0D0E43;
}

.header .active {
    color: var(--primary);
}

.search form {
    border: 1px solid #E7E6EF;
}

.search input {
    border: none;
    outline: none;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 14px;
}

/* end header*/
/* start featured products */

/* end featured products */
/* start newslater */
.newslater{
    background-image:url(../img/images/newslater/newslater.png) ;
    padding: 175px 0;
    text-align: center;
    h2{
        
        margin-bottom: 20px;
        color: #151875;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 35px;
    }
}
/* end newslater */
/* start clients */
.clients{
    padding: 50px 0;
}
.clients .row {
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x:auto;
}
.clients img{
    width: 150px;
    height: 150px;
}
.clients .logo{
    width: calc( (100% - 75px) / 6 );
}
@media screen and (max-width:900px){
    .clients .logo {
        width: calc( (100% - 30px) / 3 );
    }
}
/* end clients */

/* start footer */
.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
}
.footer .row{
    gap: 30px;
}

.left {
    width: calc( (100% - 30px) /2 );
    
}

.right {
    width: calc( (100% - 30px) /2 );
    
}

.footer .left {
    gap: 35px;
    align-items: flex-start;
}

.footer a {
    color: #8A8FB9;
}

.addressInfo {
    color: #8A8FB9;
}

.footer .right .row {
    align-items: flex-start;
}

/* end footer */