.header{
    
    padding: 57px 0;
}
.header ul{
    display: flex;
    gap:35px ;
}
.list a {
    color:#0D0E43;
}
.header .active{
    color: var(--primary);
}
.search form{
    border:1px solid #E7E6EF;
}
.search input{
    border: none;
    outline: none;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 14px;
}
/* end header*/

/* start footer */
.footer{
    background-color: #EEEFFB;
    padding: 50px 0;
}
.left{
    width: 30%;
}
.right{
    width: 60%;
}

.footer .left{
    gap: 35px;
    align-items:flex-start ;
}

.footer a {
    color: #8A8FB9;
}
.addressInfo{
    color: #8A8FB9;
}

.footer .right .row {
    align-items: flex-start;
}

/* end footer */